<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>D.I.Y - Do it yourself</title>
    <link rel="icon" href="/images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">

    <!--    nav responsive-->
    <div class="responsive-header">
        <div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
            <span class="mh-text">
				<a href="newsfeed.html" title=""><img src="/images/logo2.png" alt=""></a>
			</span>
            <span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
        </div>
        <div class="mh-head second">
            <form class="mh-form">
                <input placeholder="search"/>
                <a href="#/" class="fa fa-search"></a>
            </form>
        </div>
        <nav id="menu" class="res-menu">
            <ul>
                <li><span>Trang chủ</span></li>
                <li><span>Time Line</span>
                    <ul>
                        <li><a href="time-line.html" title="">timeline</a></li>
                        <li><a href="timeline-friends.html" title="">timeline friends</a></li>
                        <li><a href="timeline-groups.html" title="">timeline groups</a></li>
                        <li><a href="timeline-pages.html" title="">timeline pages</a></li>
                        <li><a href="timeline-photos.html" title="">timeline photos</a></li>
                        <li><a href="timeline-videos.html" title="">timeline videos</a></li>
                        <li><a href="fav-page.html" title="">favourit page</a></li>
                        <li><a href="groups.html" title="">groups page</a></li>
                        <li><a href="page-likers.html" title="">Likes page</a></li>
                        <li><a href="people-nearby.html" title="">people nearby</a></li>


                    </ul>
                </li>
                <li><span>Account Setting</span>
                    <ul>
                        <li><a href="create-fav-page.html" title="">create fav page</a></li>
                        <li><a href="edit-account-setting.html" title="">edit account setting</a></li>
                        <li><a href="edit-interest.html" title="">edit-interest</a></li>
                        <li><a href="edit-password.html" title="">edit-password</a></li>
                        <li><a href="edit-profile-basic.html" title="">edit profile basics</a></li>
                        <li><a href="edit-work-eductation.html" title="">edit work educations</a></li>
                        <li><a href="messages.html" title="">message box</a></li>
                        <li><a href="inbox.html" title="">Inbox</a></li>
                        <li><a href="notifications.html" title="">notifications page</a></li>
                    </ul>
                </li>
                <li><span>forum</span>
                    <ul>
                        <li><a href="forum.html" title="">Forum Page</a></li>
                        <li><a href="forums-category.html" title="">Fourm Category</a></li>
                        <li><a href="forum-open-topic.html" title="">Forum Open Topic</a></li>
                        <li><a href="forum-create-topic.html" title="">Forum Create Topic</a></li>
                    </ul>
                </li>
                <li><span>Our Shop</span>
                    <ul>
                        <li><a href="shop.html" title="">Shop Products</a></li>
                        <li><a href="shop-masonry.html" title="">Shop Masonry Products</a></li>
                        <li><a href="shop-single.html" title="">Shop Detail Page</a></li>
                        <li><a href="shop-cart.html" title="">Shop Product Cart</a></li>
                        <li><a href="shop-checkout.html" title="">Product Checkout</a></li>
                    </ul>
                </li>
                <li><span>Our Blog</span>
                    <ul>
                        <li><a href="blog-grid-wo-sidebar.html" title="">Our Blog</a></li>
                        <li><a href="blog-grid-right-sidebar.html" title="">Blog with R-Sidebar</a></li>
                        <li><a href="blog-grid-left-sidebar.html" title="">Blog with L-Sidebar</a></li>
                        <li><a href="blog-masonry.html" title="">Blog Masonry Style</a></li>
                        <li><a href="blog-list-wo-sidebar.html" title="">Blog List Style</a></li>
                        <li><a href="blog-list-right-sidebar.html" title="">Blog List with R-Sidebar</a></li>
                        <li><a href="blog-list-left-sidebar.html" title="">Blog List with L-Sidebar</a></li>
                        <li><a href="blog-detail.html" title="">Blog Post Detail</a></li>
                    </ul>
                </li>
                <li><span>Portfolio</span>
                    <ul>
                        <li><a href="portfolio-2colm.html" title="">Portfolio 2col</a></li>
                        <li><a href="portfolio-3colm.html" title="">Portfolio 3col</a></li>
                        <li><a href="portfolio-4colm.html" title="">Portfolio 4col</a></li>
                    </ul>
                </li>
                <li><span>Support & Help</span>
                    <ul>
                        <li><a href="support-and-help.html" title="">Support & Help</a></li>
                        <li><a href="support-and-help-detail.html" title="">Support & Help Detail</a></li>
                        <li><a href="support-and-help-search-result.html" title="">Support & Help Search Result</a></li>
                    </ul>
                </li>
                <li><span>More pages</span>
                    <ul>
                        <li><a href="careers.html" title="">Careers</a></li>
                        <li><a href="career-detail.html" title="">Career Detail</a></li>
                        <li><a href="404.html" title="">404 error page</a></li>
                        <li><a href="404-2.html" title="">404 Style2</a></li>
                        <li><a href="faq.html" title="">faq's page</a></li>
                        <li><a href="insights.html" title="">insights</a></li>
                        <li><a href="knowledge-base.html" title="">knowledge base</a></li>
                    </ul>
                </li>
                <li><a href="about.html" title="">about</a></li>
                <li><a href="about-company.html" title="">About Us2</a></li>
                <li><a href="contact.html" title="">contact</a></li>
                <li><a href="contact-branches.html" title="">Contact Us2</a></li>
                <li><a href="widgets.html" title="">Widgts</a></li>
            </ul>
        </nav>
        <nav id="shoppingbag">
            <div>
                <div class="">
                    <form method="post">
                        <div class="setting-row">
                            <span>use night mode</span>
                            <input type="checkbox" id="nightmode"/>
                            <label for="nightmode" data-on-label="ON" data-off-label="OFF"></label>
                        </div>
                        <div class="setting-row">
                            <span>Notifications</span>
                            <input type="checkbox" id="switch2"/>
                            <label for="switch2" data-on-label="ON" data-off-label="OFF"></label>
                        </div>
                        <div class="setting-row">
                            <span>Notification sound</span>
                            <input type="checkbox" id="switch3"/>
                            <label for="switch3" data-on-label="ON" data-off-label="OFF"></label>
                        </div>
                        <div class="setting-row">
                            <span>My profile</span>
                            <input type="checkbox" id="switch4"/>
                            <label for="switch4" data-on-label="ON" data-off-label="OFF"></label>
                        </div>
                        <div class="setting-row">
                            <span>Show profile</span>
                            <input type="checkbox" id="switch5"/>
                            <label for="switch5" data-on-label="ON" data-off-label="OFF"></label>
                        </div>
                    </form>
                    <h4 class="panel-title">Account Setting</h4>
                    <form method="post">
                        <div class="setting-row">
                            <span>Sub users</span>
                            <input type="checkbox" id="switch6"/>
                            <label for="switch6" data-on-label="ON" data-off-label="OFF"></label>
                        </div>
                        <div class="setting-row">
                            <span>personal account</span>
                            <input type="checkbox" id="switch7"/>
                            <label for="switch7" data-on-label="ON" data-off-label="OFF"></label>
                        </div>
                        <div class="setting-row">
                            <span>Business account</span>
                            <input type="checkbox" id="switch8"/>
                            <label for="switch8" data-on-label="ON" data-off-label="OFF"></label>
                        </div>
                        <div class="setting-row">
                            <span>Show me online</span>
                            <input type="checkbox" id="switch9"/>
                            <label for="switch9" data-on-label="ON" data-off-label="OFF"></label>
                        </div>
                        <div class="setting-row">
                            <span>Delete history</span>
                            <input type="checkbox" id="switch10"/>
                            <label for="switch10" data-on-label="ON" data-off-label="OFF"></label>
                        </div>
                        <div class="setting-row">
                            <span>Expose author name</span>
                            <input type="checkbox" id="switch11"/>
                            <label for="switch11" data-on-label="ON" data-off-label="OFF"></label>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div><!-- responsive header -->


    <!--    navbar 1-->
    <div class="topbar stick">
        <div class="logo">
            <a href="/user/homeUser?id_user=<%= id_user %>"><img style="width: 72px;" src="/images/logo.png" alt=""></a>
        </div>

        <div class="top-area">
            <ul class="nav float-left pt-2 mt-1">
                <li class="nav-item"><a class="nav-link" href=""><i class="ti-home"></i> Trang chủ</a></li>
                <li class="nav-item ml-5">
                    <input class="form-control" type="text" id="inputSearch" placeholder="Tìm kiếm..."
                           onkeypress="enterSearch(event)">
                </li>
            </ul>
            <ul class="setting-area">
                <li>
                    <a href="#" title="Notification" data-ripple="">
                        <i class="ti-bell"></i><span>20</span>
                    </a>
                    <div class="dropdowns">
                        <span>4 Thông báo mới</span>
                        <ul class="drops-menu">
                            <li>
                                <a href="" title="">
                                    <img src="/images/resources/thumb-3.jpg" alt="">
                                    <div class="mesg-meta">
                                        <h6>Andrew</h6>
                                        <i>2 min ago</i>
                                    </div>
                                </a>
                                <span class="tag blue">Gửi lời mời kết bạn</span>
                            </li>
                        </ul>
                        <a href="" title="" class="more-mesg">view more</a>
                    </div>
                </li>
                <li>
                    <a href="#" title="Messages" data-ripple=""><i class="ti-comment"></i><span>12</span></a>
                    <div class="dropdowns">
                        <span>5 New Messages</span>
                        <ul class="drops-menu">
                            <li>
                                <a href="" title="">
                                    <img src="/images/resources/thumb-1.jpg" alt="">
                                    <div class="mesg-meta">
                                        <h6>sarah Loren</h6>
                                        <span>Hi, how r u dear ...?</span>
                                        <i>2 min ago</i>
                                    </div>
                                </a>
                                <span class="tag green">New</span>
                            </li>
                            <li>
                                <a href="" title="">
                                    <img src="/images/resources/thumb-2.jpg" alt="">
                                    <div class="mesg-meta">
                                        <h6>Jhon doe</h6>
                                        <span>Hi, how r u dear ...?</span>
                                        <i>2 min ago</i>
                                    </div>
                                </a>
                                <span class="tag red">Reply</span>
                            </li>
                            <li>
                                <a href="" title="">
                                    <img src="/images/resources/thumb-3.jpg" alt="">
                                    <div class="mesg-meta">
                                        <h6>Andrew</h6>
                                        <span>Hi, how r u dear ...?</span>
                                        <i>2 min ago</i>
                                    </div>
                                </a>
                                <span class="tag blue">Unseen</span>
                            </li>
                            <li>
                                <a href="" title="">
                                    <img src="/images/resources/thumb-4.jpg" alt="">
                                    <div class="mesg-meta">
                                        <h6>Tom cruse</h6>
                                        <span>Hi, how r u dear ...?</span>
                                        <i>2 min ago</i>
                                    </div>
                                </a>
                                <span class="tag">New</span>
                            </li>
                            <li>
                                <a href="" title="">
                                    <img src="/images/resources/thumb-5.jpg" alt="">
                                    <div class="mesg-meta">
                                        <h6>Amy</h6>
                                        <span>Hi, how r u dear ...?</span>
                                        <i>2 min ago</i>
                                    </div>
                                </a>
                                <span class="tag">New</span>
                            </li>
                        </ul>
                        <a href="" title="" class="more-mesg">view more</a>
                    </div>
                </li>
                <li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i></a>
                    <div class="dropdowns languages">
                        <a href="#" title=""><i class="ti-check"></i>English</a>
                        <a href="#" title="">Arabic</a>
                        <a href="#" title="">Dutch</a>
                        <a href="#" title="">French</a>
                    </div>
                </li>
            </ul>
            <div class="user-img">
                <img style="border: 1px solid #444444; width: 55px" src="<%= result_profile1[0].avatar %>">
                <span class="status f-online"></span>
                <%= name_user[0].name_user %>
                <div class="user-setting">
                    <a href="#" title=""><span class="status f-online"></span>Đang h.động</a>
                    <a href="#" title=""><span class="status f-away"></span>Tạm vắng</a>
                    <a href="#" title=""><span class="status f-off"></span>offline</a>
                    <a href="/user/pageProfile?id_user=<%= id_user %>"><i class="ti-user"></i> Trang cá nhân</a>
                    <a href="#" title=""><i class="ti-settings"></i>account setting</a>
                    <a href="#" title=""><i class="ti-power-off"></i>log out</a>
                </div>
            </div>
            <span class="ti-menu main-menu" data-ripple=""></span>
        </div>
    </div><!-- topbar -->

    <section>
        <div class="feature-photo">
            <figure><img id="divEditCoverImage" style="height: 600px" src="<%= result_profile[0].cover_image %>">
            </figure>
            <div class="add-btn">
                <span>1.3k followers</span>
            </div>
            <!-- chỉnh sửa ảnh bìa-->
            <div class="edit-phto" id="divBtnEditCoverImage">
                <i class="fa fa-camera-retro"></i>
                <label class="fileContainer">
                    Chỉnh sửa
                    <input type="file" id="coverImage" accept="image/*"/>
                </label>
            </div>
            <!-- nút kết bạn-->
            <div class="edit-phto bg-primary" type="button" onclick="btnAddFriend(<%= id_using %>)"
                 id="divBtnAddFriend">
                <i class="fas fa-plus"></i>
                <label class="fileContainer" type="button" onclick="btnAddFriend(<%= id_using %>)">
                    Kết bạn
                </label>
            </div>
            <!-- hủy lời kết bạn-->
            <div class="edit-phto bg-primary" type="button" onclick="btnUnFriend(<%= id_using %>)" id="divBtnUnFriend"
                 style="display: none">
                <i><img src="/images/unfollow (1).png"></i>
                <label class="fileContainer" type="button" onclick="btnUnFriend(<%= id_using %>)">
                    Hủy kết bạn
                </label>
            </div>
            <div id="divBtnEditCoverImage1" style="display: none; position: absolute; top: 443px; left: 480px">
                <button type="button" class="btn btn-success" onclick="submitCoverImage()">
                    <i class="far fa-save"></i><span>Lưu thay đổi</span>
                </button>
            </div>
            <div class="container-fluid">
                <div class="row merged">
                    <!--chỉnh sửa ảnh đại diện-->
                    <div class="col-lg-2 col-sm-3">
                        <div class="user-avatar">
                            <figure>
                                <img src="<%= result_profile[0].avatar %>">
                                <div class="edit-phto">
                                    <i class="fa fa-camera-retro"></i>
                                    <label class="fileContainer" type="button" data-toggle="modal"
                                           data-target="#modalEditAvatar">
                                        Chỉnh sửa ảnh đại diện
                                    </label>

                                </div>
                            </figure>
                            <!-- Modal đăng bài-->
                            <div class="modal fade mt-5" id="modalEditAvatar" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Tạo bài
                                                viết</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row pl-5">
                                                <div class="col-6">
                                                    <label type="button" for="inputUpAvatar"
                                                           style="color: #444444">
                                                        <i class="fas fa-plus"></i> Tải ảnh lên
                                                    </label>
                                                    <input type="file" id="inputUpAvatar" class="form-control"
                                                           accept="image/*" hidden>
                                                </div>
                                                <div class="col-6">
                                                    <label type="button" for="addFrames"
                                                           style="color: #444444">
                                                        <i class="fas fa-plus"></i> Thêm khung
                                                    </label>
                                                    <input type="file" id="addFrames" class="form-control"
                                                           accept="image/*" hidden>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <img style="display: block; margin-left: auto; margin-right: auto"
                                                     src="" id="imgAvatar">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary w-100"
                                                    onclick="submitAvatar()">
                                                Lưu
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10 col-sm-9">
                        <div class="timeline-info">
                            <ul>
                                <li class="admin-name">
                                    <h5><%= name_user1[0].name_user %></h5>
                                    <span>@<%= name_user1[0].name_user %></span>
                                </li>
                                <li>
                                    <a class="active" href="" title="" data-ripple="">Bài viết</a>
                                    <a class="" href="" title="" data-ripple="">Giới thiệu</a>
                                    <a class="" href="" title="" data-ripple="">Ảnh</a>
                                    <a class="" href="" title="" data-ripple="">Bạn bè</a>
                                    <a class="" href="" title="" data-ripple="">Xem thêm</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">

                            <!-- list nav-->
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget">
                                        <h4 class="widget-title">Bảng nhiệm vụ</h4>
                                        <ul class="activitiez">
                                            <li>
                                                <div class="activity-meta">
                                                    <i>10 hours Ago</i>
                                                    <span><a href="#" title="">Commented on Video posted </a></span>
                                                    <h6>by <a href="time-line.html">black demon.</a></h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="activity-meta">
                                                    <i>30 Days Ago</i>
                                                    <span><a href="#" title="">Posted your status. “Hello guys, how are you?”</a></span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="activity-meta">
                                                    <i>2 Years Ago</i>
                                                    <span><a href="#" title="">Share a video on her timeline.</a></span>
                                                    <h6>"<a href="#">you are so funny mr.been.</a>"</h6>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!-- recent activites -->
                                    <div class="widget stick-widget">
                                        <h4 class="widget-title">Bạn đang theo dõi</h4>
                                        <ul class="followers">
                                            <li>
                                                <figure><img src="/images/resources/friend-avatar2.jpg" alt=""></figure>
                                                <div class="friend-meta">
                                                    <h4><a href="time-line.html" title="">Kelly Bill</a></h4>
                                                    <a href="#" title="" class="underline">Add Friend</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!-- who's following -->
                                </aside>
                            </div>

                            <!-- đăng bài + hiển thị bài đăng-->
                            <div class="col-lg-6">
                                <div class="central-meta">
                                    <div class="new-postbox">
                                        <figure>
                                            <img style="border: 1px solid #444444"
                                                 src="<%= result_profile1[0].avatar %>">
                                        </figure>
                                        <div class="newpst-input">
                                                <textarea rows="3" placeholder="viết gì đó"
                                                          type="button" data-toggle="modal"
                                                          data-target="#modalPost"></textarea>
                                            <!-- Modal đăng bài-->
                                            <div class="modal fade" id="modalPost" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Tạo bài
                                                                viết</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                        <textarea class="form-control mb-4" style="height: 160px" id="txtaContent"
                                                  placeholder="<%= name_user[0].name_user %>, Bạn đang nghĩ gì vậy?"></textarea>
                                                            <div class="form-control mb-2">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        Thêm vào bài viết
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <ul class="nav">
                                                                            <li class="nav-item">
                                                                                <a class="nav-link pt-0 pr-1">
                                                                                    <label for="file_image"><i
                                                                                                class="far fa-images"></i></label>
                                                                                </a>
                                                                            </li>
                                                                            <li class="nav-item">
                                                                                <a class="nav-link pt-0 pr-1">
                                                                                    <i class="fas fa-user-tag"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li class="nav-item">
                                                                                <a class="nav-link pt-0 pr-1">
                                                                                    <i class="far fa-laugh"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li class="nav-item">
                                                                                <a class="nav-link pt-0 pr-1">
                                                                                    <i class="fas fa-location-arrow"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li class="nav-item">
                                                                                <a class="nav-link pt-0 pr-1">
                                                                                    <i class="far fa-comments"></i>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <input type="file" id="file_image" accept="image/*"
                                                                   hidden/>
                                                            <a class="form-control mb-2"
                                                               href="/user/pagePostDetail?id_user=<%= id_user %>">
                                                                Viết bài hoàn chỉnh</a>
                                                            <a class="form-control" href="#">
                                                                Thêm nhiệm vụ</a>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary w-100"
                                                                    onclick="btnPost()">
                                                                Đăng bài
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divBiggest">
                                    <% result_post.reverse().map((data_post)=>{ %>
                                        <div class="central-meta item">
                                            <div class="user-post">
                                                <div class="friend-info">
                                                    <figure>
                                                        <img style="border: 1px solid #444444"
                                                             src="<%= data_post.avatar %>"
                                                             alt="">
                                                    </figure>
                                                    <div class="friend-name">
                                                        <ins><a href="" title=""><%= data_post.name_user %></a></ins>
                                                        <span>Đã đăng lúc: <%= data_post.date_posted %></span>
                                                    </div>
                                                    <div class="description">
                                                        <p><%= data_post.content %></p>
                                                    </div>
                                                    <div class="post-meta">
                                                        <img src="<%= data_post.link_image %>" alt="">
                                                        <div class="we-video-info">
                                                            <ul class="nav" id="<%= data_post.id %>">
                                                                <!-- nút like chưa kích hoạt-->
                                                                <li type="button" class="nav-item"
                                                                    onclick="btnLike(<%= data_post.id %>)"
                                                                    id="iconLike<%= data_post.id %>">
                                                                    <span class="like" data-toggle="tooltip"
                                                                          title="like">
                                                                        <i class="ti-heart"></i>
                                                                        <ins id="appendNumberLike<%= data_post.id %>"><%= data_post.number_like %></ins>
                                                                        <input id="inputAppendNumberLike<%= data_post.id %>"
                                                                               type="number"
                                                                               value="<%= data_post.number_like %>"
                                                                               hidden>
                                                                    </span>
                                                                </li>
                                                                <!-- nút like đã kích hoạt-->
                                                                <li type="button" style="display:none" class="nav-item"
                                                                    onclick="btnUnLike(<%= data_post.id %>)"
                                                                    id="iconUnLike<%= data_post.id %>">
                                                                    <span class="like" data-toggle="tooltip"
                                                                          title="unlike">
                                                                        <i class="fas fa-heart"></i>
                                                                        <ins id="appendNumberUnLike<%= data_post.id %>"><%= data_post.number_like %></ins>
                                                                        <input id="inputAppendNumberUnLike<%= data_post.id %>"
                                                                               type="number"
                                                                               value=""
                                                                               hidden>
                                                                    </span>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <span class="comment" data-toggle="tooltip"
                                                                          title="Comments">
                                                                        <i class="fa fa-comments-o"></i>
                                                                        <ins>0</ins>
                                                                    </span>
                                                                </li>
                                                                <li class="float-right social-media">
                                                                    <div class="menu">
                                                                        <div class="btn trigger"><i
                                                                                    class="fa fa-share-alt"></i></div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon">
                                                                                <a href="#">
                                                                                    <i class="fa fa-html5"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon">
                                                                                <a href="#">
                                                                                    <i class="fa fa-facebook"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon">
                                                                                <a href="#">
                                                                                    <i class="fa fa-google-plus"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon">
                                                                                <a href="#">
                                                                                    <i class="fa fa-twitter"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon">
                                                                                <a href="#">
                                                                                    <i class="fa fa-css3"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon">
                                                                                <a href="#">
                                                                                    <i class="fa fa-instagram"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon"><a href="#"
                                                                                                         title=""><i
                                                                                            class="fa fa-dribbble"></i></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="rotater">
                                                                            <div class="btn btn-icon"><a href="#"
                                                                                                         title=""><i
                                                                                            class="fa fa-pinterest"></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div>
                                                    <!-- phần hiển thị nội dung bình luận-->
                                                    <div id="<%= data_post.id %>" class="coment-area">
                                                        <ul id="divContentComment<%= data_post.id %>"
                                                            class="we-comet"></ul>
                                                        <ul class="we-comet">
                                                            <!--  phần viết bình luận-->
                                                            <li class="post-comment">
                                                                <div class="comet-avatar">
                                                                    <img src="<%= result_profile[0].avatar %>">
                                                                </div>
                                                                <div class="post-comt-box">
                                                                    <div>
                                                                        <textarea id="inputComment<%= data_post.id %>"
                                                                                  type="text"
                                                                                  placeholder="Viết bình luận"
                                                                                  onkeypress="submitComment(event,<%= data_post.id %>)"></textarea>
                                                                        <div class="add-smiles">
                                                                        <span class="em em-expressionless"
                                                                              title="add icon"></span>
                                                                        </div>
                                                                        <div class="smiles-bunch">
                                                                            <i class="em em---1"></i>
                                                                            <i class="em em-smiley"></i>
                                                                            <i class="em em-anguished"></i>
                                                                            <i class="em em-laughing"></i>
                                                                            <i class="em em-angry"></i>
                                                                            <i class="em em-astonished"></i>
                                                                            <i class="em em-blush"></i>
                                                                            <i class="em em-disappointed"></i>
                                                                            <i class="em em-worried"></i>
                                                                            <i class="em em-kissing_heart"></i>
                                                                            <i class="em em-rage"></i>
                                                                            <i class="em em-stuck_out_tongue"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="advertisment-box">
                                        <h4 class="">advertisment</h4>
                                        <figure>
                                            <a href="#" title="Advertisment"><img src="/images/resources/ad-widget.jpg"
                                                                                  alt=""></a>
                                        </figure>
                                    </div>
                                    <div class="widget">
                                        <h4 class="widget-title">Invite friends</h4>
                                        <ul class="invition">
                                            <li>
                                                <figure><img src="/images/resources/friend-avatar2.jpg" alt=""></figure>
                                                <div class="friend-meta">
                                                    <h4><a href="" class="underline" title="">Kelly Bill</a></h4>
                                                    <a href="#" title="" class="invite" data-ripple="">invite</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure><img src="/images/resources/friend-avatar3.jpg" alt=""></figure>
                                                <div class="friend-meta">
                                                    <h4><a href="" class="underline" title="">Allen jhon</a></h4>
                                                    <a href="#" title="" class="invite" data-ripple="">invite</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure><img src="/images/resources/friend-avatar3.jpg" alt=""></figure>
                                                <div class="friend-meta">
                                                    <h4><a href="" title="" class="underline">Allen doe</a></h4>
                                                    <a href="#" title="" class="invite" data-ripple="">invite</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!-- invite for page  -->

                                    <div class="widget friend-list stick-widget">
                                        <h4 class="widget-title">Friends</h4>
                                        <div id="searchDir"></div>
                                        <ul id="people-list" class="friendz-list">
                                            <li>
                                                <figure>
                                                    <img src="/images/resources/friend-avatar.jpg" alt="">
                                                    <span class="status f-online"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a href="">bucky barnes</a>
                                                    <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
                                                          class="__cf_email__"
                                                          data-cfemail="1e6977706a7b6c6d71727a7b6c5e79737f7772307d7173">[email&#160;protected]</a></i>
                                                </div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="/images/resources/friend-avatar2.jpg" alt="">
                                                    <span class="status f-away"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a href="">Sarah Loren</a>
                                                    <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
                                                          class="__cf_email__"
                                                          data-cfemail="debcbfacb0bbad9eb9b3bfb7b2f0bdb1b3">[email&#160;protected]</a></i>
                                                </div>
                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="/images/resources/friend-avatar3.jpg" alt="">
                                                    <span class="status f-off"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a href="">jason borne</a>
                                                    <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
                                                          class="__cf_email__"
                                                          data-cfemail="0e646f7d61606c4e69636f6762206d6163">[email&#160;protected]</a></i>
                                                </div>
                                            </li>
                                            <li>

                                                <figure>
                                                    <img src="/images/resources/friend-avatar5.jpg" alt="">
                                                    <span class="status f-online"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a href="">daniel warber</a>
                                                    <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
                                                          class="__cf_email__"
                                                          data-cfemail="315b50425e5f5371565c50585d1f525e5c">[email&#160;protected]</a></i>
                                                </div>
                                            </li>
                                            <li>

                                                <figure>
                                                    <img src="/images/resources/friend-avatar7.jpg" alt="">
                                                    <span class="status f-off"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a href="">amy watson</a>
                                                    <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
                                                          class="__cf_email__"
                                                          data-cfemail="bad0dbc9d5d4d8faddd7dbd3d694d9d5d7">[email&#160;protected]</a></i>
                                                </div>
                                            </li>
                                            <li>

                                                <figure>
                                                    <img src="/images/resources/friend-avatar5.jpg" alt="">
                                                    <span class="status f-online"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a href="">daniel warber</a>
                                                    <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
                                                          class="__cf_email__"
                                                          data-cfemail="076d667468696547606a666e6b2964686a">[email&#160;protected]</a></i>
                                                </div>
                                            </li>
                                            <li>

                                                <figure>
                                                    <img src="/images/resources/friend-avatar2.jpg" alt="">
                                                    <span class="status f-away"></span>
                                                </figure>
                                                <div class="friendz-meta">
                                                    <a href="">Sarah Loren</a>
                                                    <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection"
                                                          class="__cf_email__"
                                                          data-cfemail="b1d3d0c3dfd4c2f1d6dcd0d8dd9fd2dedc">[email&#160;protected]</a></i>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="chat-box">
                                            <div class="chat-head">
                                                <span class="status f-online"></span>
                                                <h6>Bucky Barnes</h6>
                                                <div class="more">
                                                    <span><i class="ti-more-alt"></i></span>
                                                    <span class="close-mesage"><i class="ti-close"></i></span>
                                                </div>
                                            </div>
                                            <div class="chat-list">
                                                <ul>
                                                    <li class="me">
                                                        <div class="chat-thumb"><img
                                                                    src="/images/resources/chatlist1.jpg" alt=""></div>
                                                        <div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
                                                            <span class="notification-date"><time
                                                                        datetime="2004-07-24T18:18"
                                                                        class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                        </div>
                                                    </li>
                                                    <li class="you">
                                                        <div class="chat-thumb"><img
                                                                    src="/images/resources/chatlist2.jpg" alt=""></div>
                                                        <div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
                                                            <span class="notification-date"><time
                                                                        datetime="2004-07-24T18:18"
                                                                        class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                        </div>
                                                    </li>
                                                    <li class="me">
                                                        <div class="chat-thumb"><img
                                                                    src="/images/resources/chatlist1.jpg" alt=""></div>
                                                        <div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
                                                            <span class="notification-date"><time
                                                                        datetime="2004-07-24T18:18"
                                                                        class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <form class="text-box">
                                                    <textarea placeholder="Post enter to post..."></textarea>
                                                    <div class="add-smiles">
                                                        <span title="add icon" class="em em-expressionless"></span>
                                                    </div>
                                                    <div class="smiles-bunch">
                                                        <i class="em em---1"></i>
                                                        <i class="em em-smiley"></i>
                                                        <i class="em em-anguished"></i>
                                                        <i class="em em-laughing"></i>
                                                        <i class="em em-angry"></i>
                                                        <i class="em em-astonished"></i>
                                                        <i class="em em-blush"></i>
                                                        <i class="em em-disappointed"></i>
                                                        <i class="em em-worried"></i>
                                                        <i class="em em-kissing_heart"></i>
                                                        <i class="em em-rage"></i>
                                                        <i class="em em-stuck_out_tongue"></i>
                                                    </div>
                                                    <button type="submit"></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- friends list sidebar -->
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="widget">
                        <div class="foot-logo">
                            <div class="logo">
                                <a href="index-2.html" title=""><img src="/images/logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>follow</h4></div>
                        <ul class="list-style">
                            <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/"
                                                                         title="">facebook</a></li>
                            <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en"
                                                                       title="">twitter</a></li>
                            <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a>
                            </li>
                            <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover"
                                                                            title="">Google+</a></li>
                            <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">Pintrest</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>Navigate</h4></div>
                        <ul class="list-style">
                            <li><a href="about.html" title="">about us</a></li>
                            <li><a href="contact.html" title="">contact us</a></li>
                            <li><a href="terms.html" title="">terms & Conditions</a></li>
                            <li><a href="#" title="">RSS syndication</a></li>
                            <li><a href="sitemap.html" title="">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>useful links</h4></div>
                        <ul class="list-style">
                            <li><a href="#" title="">leasing</a></li>
                            <li><a href="#" title="">submit route</a></li>
                            <li><a href="#" title="">how does it work?</a></li>
                            <li><a href="#" title="">agent listings</a></li>
                            <li><a href="#" title="">view All</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>download apps</h4></div>
                        <ul class="colla-apps">
                            <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a>
                            </li>
                            <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a>
                            </li>
                            <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- footer -->
    <div class="bottombar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright"><a target="_blank"
                                               href="https://www.templateshub.net">Templates Hub</a></span>
                    <i><img src="/images/credit-cards.png" alt=""></i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="side-panel">
    <h4 class="panel-title">General Setting</h4>
    <form method="post">
        <div class="setting-row">
            <span>use night mode</span>
            <input type="checkbox" id="nightmode1"/>
            <label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Notifications</span>
            <input type="checkbox" id="switch22"/>
            <label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Notification sound</span>
            <input type="checkbox" id="switch33"/>
            <label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>My profile</span>
            <input type="checkbox" id="switch44"/>
            <label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Show profile</span>
            <input type="checkbox" id="switch55"/>
            <label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
        </div>
    </form>
    <h4 class="panel-title">Account Setting</h4>
    <form method="post">
        <div class="setting-row">
            <span>Sub users</span>
            <input type="checkbox" id="switch66"/>
            <label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>personal account</span>
            <input type="checkbox" id="switch77"/>
            <label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Business account</span>
            <input type="checkbox" id="switch88"/>
            <label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Show me online</span>
            <input type="checkbox" id="switch99"/>
            <label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Delete history</span>
            <input type="checkbox" id="switch101"/>
            <label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
        </div>
        <div class="setting-row">
            <span>Expose author name</span>
            <input type="checkbox" id="switch111"/>
            <label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
        </div>
    </form>
</div><!-- side panel -->

<script src="/js/main.min.js"></script>
<script src="/js/script.js"></script>
<!--axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!--đăng bài-->
<script>
    const btnPost = async () => {
        let file;
        document.querySelector("#file_image").onchange = (evt) => {
            file = evt.target.files[0];
            console.log(file);
        };

        const txtaContent = document.getElementById("txtaContent").value;
        const link_image = document.querySelector("#file_image");
        const formData = new FormData();
        formData.append("txtaContent", txtaContent);
        formData.append("image", link_image.files[0]);
        try {
            const result = await axios.post(`/post?id_user=<%= id_user %>`, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            });
            const body = result.data;
            if (body.msg === 'post_success') {
                alert(`Bài viết của bạn đã được đăng tải`);
                window.open(`/user/homeUser?id_user=<%= id_user %>`, `_self`);
            }
            if (body.msg === 'isEmpty') {
                alert(`Hãy viết gì đó rồi hẵng đăng`);
            }
        } catch (e) {
            console.error(e);
        }
    }
</script>

<!--tất cả phần bình luận nằm ở đây-->
<script>
    let date_ob = new Date();
    // current hours
    let hours = date_ob.getHours();
    // current minutes
    let minutes = date_ob.getMinutes();
    // date
    let date = ("0" + date_ob.getDate()).slice(-2);
    // current month
    let month = ("0" + (date_ob.getMonth() + 1)).slice(-2);
    // current year
    let year = date_ob.getFullYear();
    let timeFull = hours + ":" + minutes + ", ngày " + date + "/" + month + ", " + year;
    const name_user = "<%= name_user[0].name_user %>";

    (async () => {
        try {
            const result = await axios.get(`/loadComment?id_user=<%= id_user %>`);
            const body = result.data;
            let id_comment = 0;
            // phần bình luận
            Array.from(document.getElementById("divBiggest").children).forEach((divBigger) => {
                Array.from(divBigger.children).forEach((divBig) => {
                    const divSmall0 = Array.from(divBig.children)[0];

                    const divSmall = Array.from(divBig.children)[1];
                    Array.from(divSmall.children).forEach((divSmaller) => {
                        const comments = body.result_comment.filter((comment) => {
                            return comment.id_of_post == divSmaller.id
                        });
                        // phần hiển thị bình luận
                        comments.forEach((data) => {
                            divSmaller.querySelector("#divContentComment" + data.id_of_post).innerHTML += '<li id="divCommentWillDelete' + data.id + '">\n' +
                                '    <div class="comet-avatar">\n' +
                                '        <img style="width: 40px" src="' + data.avatar + '">\n' +
                                '    </div>\n' +
                                '    <div class="we-comment">\n' +
                                '        <div class="coment-head">\n' +
                                '            <h5><a href="">' + data.name_user + '</a></h5>\n' +
                                '            <span>' + data.date_comment + '</span>\n' +
                                '            <a class="we-reply" type="button" onclick="btnCollapseReply(' + data.id + ')"><i\n' +
                                '                    class="fa fa-reply"></i></a>\n' +
                                '            <a class="float-right" type="button" onclick="btnDeleteComment(' + data.id + ')">Xóa</a>\n' +
                                '        </div>\n' +
                                '        <p>' + data.comment_content + '</p>\n' +
                                '    </div>\n' +
                                '    <!--  phần hiển thị trả lời bình luận-->\n' +
                                '    <div id="' + data.id + '"><ul id="divReplyComment' + data.id + '"></ul></div>\n' +
                                '</li>\n' +
                                '<li style="display: none" id="inputCollapseReply' + data.id + '"></li>';
                        })


                        // phần hiển thị trả lời bình luận
                        const divReply = Array.from(divSmaller.children)[0];
                        Array.from(divReply.children).forEach((divReplySmall) => {
                            Array.from(divReplySmall.children).forEach((divReplySmaller) => {
                                const replies = body.result_reply_comment.filter((reply) => {
                                    return reply.id_of_comment == divReplySmaller.id;
                                })
                                replies.forEach((data) => {
                                    divReplySmaller.querySelector("#divReplyComment" + data.id_of_comment).innerHTML += '<li>\n' +
                                        '    <div class="comet-avatar">\n' +
                                        '        <img style="width: 40px" src="' + data.avatar + '"\n' +
                                        '             alt="">\n' +
                                        '    </div>\n' +
                                        '    <div class="we-comment">\n' +
                                        '        <div class="coment-head">\n' +
                                        '            <h5><a>' + data.name_user + '</a></h5>\n' +
                                        '            <span>' + data.date_replied + '</span>\n' +
                                        '            <a title="Reply"><i class="fa fa-reply"></i></a>\n' +
                                        '        </div>\n' +
                                        '        <p>' + data.reply_content + '</p>\n' +
                                        '    </div>\n' +
                                        '</li>';
                                })
                            })
                        })
                    })
                })
            })

            // dùng để active nút like
            Array.from(document.getElementById("divBiggest").children).forEach((divBigger) => {
                Array.from(divBigger.children).forEach((divBig) => {
                    const divSmall0 = Array.from(divBig.children)[0];
                    const divSmaller = Array.from(divSmall0.children)[3];
                    Array.from(divSmaller.children).forEach((divSmallest) => {
                        Array.from(divSmallest.children).forEach((data) => {
                            const likes = body.result_like.filter((like) => {
                                return like.id_of_post == data.id;
                            });
                            let html = '';
                            likes.forEach((data1) => {
                                data.querySelector("#iconLike" + data1.id_of_post).style.display = "none";
                                data.querySelector("#iconUnLike" + data1.id_of_post).style.display = "block";
                            })
                        })
                    })
                })
            })

            let distinguish = "<%= distinguish %>";
            if (distinguish === 'mySelf') {
                document.getElementById("divBtnAddFriend").style.display = "none";
            }
            if (distinguish === "others") {
                document.getElementById("divBtnEditCoverImage").style.display = "none";
                // document.getElementById("divBtnAddFriend").style.display = "none";
                // document.getElementById("divBtnEditCoverImage").style.display = "none";
                // document.getElementById("divBtnUnFriend").style.display = "block";
            }


            if (distinguish === 'sending_to_friend') {
                document.getElementById("divBtnAddFriend").style.display = "none";
                document.getElementById("divBtnEditCoverImage").style.display = "none";
                document.getElementById("divBtnUnFriend").style.display = "block";
            }
        } catch (e) {
            console.error(e);
        }
    })()

    // nút gửi bình luận
    const submitComment = async (e, id_post) => {
        if (e.keyCode === 13) {
            try {
                const inputComment = document.querySelector("#inputComment" + id_post).value;
                if (inputComment === '') return
                const result = await axios.post(`/comment?id_user=<%= id_user %>&id_post=${id_post}`, {inputComment});
                const body = result.data;
                let id_comment_ = body.id_comment_;
                let url = '<%= result_profile[0].avatar %>';
                if (body.msg === 'post_success') {
                    let html = '';
                    html += '<li id="divCommentWillDelete' + id_comment_ + '">' +
                        '<div class="comet-avatar"><img style="width: 40px" src="' + url + '"></div>' +
                        '<div class="we-comment"><div class="coment-head">' +
                        '<h5><a href="time-line.html" title="">' + name_user + '</a></h5>' +
                        '<span>' + timeFull + '</span>' +
                        '<a class="we-reply" type="button" onclick="btnCollapseReply(' + (id_comment_) + ')"><i class="fa fa-reply"></i></a>' +
                        '<a class="float-right" type="button" onclick="btnDeleteComment(' + (id_comment_) + ')">Xóa</a>' +
                        '</div>' +
                        '<p>' + inputComment + '</p>' +
                        '</div>' +
                        '<div id="' + (id_comment_) + '"><ul id="divReplyComment' + (id_comment_) + '"></ul></div>' +
                        '</li>' +
                        '<li style="display: none" id="inputCollapseReply' + (id_comment_) + '"></li>';
                    document.getElementById("divContentComment" + id_post).innerHTML += html;
                    document.getElementById("inputComment" + id_post).value = null;
                }
            } catch (e) {
                console.error(e);
            }
        }
    }

    // nút colapse trả lời bình luận
    const btnCollapseReply = async (id_comment) => {
        try {
            let html = '';
            let url = '<%= result_profile[0].avatar %>';
            const inputCollapseReply = document.getElementById("inputCollapseReply" + id_comment);
            if (inputCollapseReply.style.display === "none") {
                inputCollapseReply.style.display = "block";
                html += '<div class="ml-5">' +
                    '<div class="comet-avatar">\n' +
                    '<img style="width: 40px" src="' + url + '">\n' +
                    '</div>\n' +
                    '<div class="post-comt-box ml-4">\n' +
                    '       <textarea id="inputReplyComment' + id_comment + '"\n' +
                    '                 type="text" style="border: 1px solid #444444"\n' +
                    '                 placeholder="Câu trả lời của bạn"\n' +
                    '                 onkeypress="submitReply(event, ' + id_comment + ')"></textarea>\n' +
                    '</div>\n' +
                    '</div>';
                document.getElementById("inputCollapseReply" + id_comment).innerHTML = html;
            } else {
                inputCollapseReply.style.display = "none";
            }
        } catch (e) {
            console.error(e);
        }
    }

    // nút gửi trả lời bình luận
    const submitReply = async (e, id_comment) => {
        if (e.keyCode === 13) {
            try {
                const inputReply = document.querySelector("#inputReplyComment" + id_comment).value;
                const inputCollapseReply = document.getElementById("inputCollapseReply" + id_comment);
                let url = '<%= result_profile[0].avatar %>';

                if (inputReply === '') return
                const result = await axios.post(`/replyComment?id_user=<%= id_user %>&id_comment=${id_comment}`, {inputReply});
                const body = result.data;
                if (body.msg === 'reply success') {
                    let html = '';
                    html += '<li>\n' +
                        '    <div class="comet-avatar"><img style="width: 40px" src="' + url + '"></div>\n' +
                        '    <div class="we-comment"><div class="coment-head">\n' +
                        '        <h5><a href="time-line.html" title=""> ' + name_user + ' </a></h5>\n' +
                        '        <span>  ' + timeFull + '  </span>\n' +
                        '        <a class="we-reply"><i class="fa fa-reply"></i></a>\n' +
                        '    </div><p> ' + inputReply + ' </p></div>\n' +
                        '</li>';
                    document.getElementById("divReplyComment" + id_comment).innerHTML += html;
                    document.getElementById("inputReplyComment" + id_comment).value = null;
                    inputCollapseReply.style.display = "none";
                }
            } catch (e) {
                console.error(e);
            }
        }
    }

    // nút xóa bình luận
    const btnDeleteComment = async (id_comment) => {
        try {
            const divCommentWillDelete = document.getElementById("divCommentWillDelete" + id_comment);
            const result = await axios.get(`/deleteComment?id_user=<%= id_user %>&id_comment=${id_comment}`);
            const body = result.data;
            if (body.msg === 'delete success') {
                divCommentWillDelete.style.display = "none";
            }
        } catch (e) {
            console.error(e);
        }
    }
</script>

<!--tìm kiếm-->
<script>
    const enterSearch = async (e) => {
        if (e.keyCode === 13) {
            try {
                const inputSearch = document.getElementById("inputSearch").value;
                window.open(`/user/pageSearch?id_user=<%= id_user %>&search=${inputSearch}`, `_self`);
            } catch (e) {
                console.error(e)
            }
        }
    }
</script>

<!--phần like-->
<script>
    // nút kích hoạt like
    const btnLike = async (id_post) => {
        try {
            const old_number = document.getElementById("inputAppendNumberLike" + id_post).value;
            document.getElementById("iconLike" + id_post).style.display = "none";
            document.getElementById("iconUnLike" + id_post).style.display = "block";
            const result1 = await axios.post(`/numberLike?id_user=<%= id_user %>&id_post=${id_post}`);
            const body1 = result1.data;

            if (body1.msg === 'ok') {
                const number_like = parseInt(old_number) + 1;
                let html = '';
                html += '<font>' + number_like + '</font>';
                document.getElementById("appendNumberUnLike" + id_post).innerHTML = html;
                document.getElementById("inputAppendNumberUnLike" + id_post).value = number_like;
            }
        } catch (e) {
            console.error(e)
        }
    }

    // nút hủy like
    const btnUnLike = async (id_post) => {
        try {
            const old_number = document.querySelector("#inputAppendNumberUnLike" + id_post).value;
            document.getElementById("iconLike" + id_post).style.display = "block";
            document.getElementById("iconUnLike" + id_post).style.display = "none";
            const result1 = await axios.post(`/numberLike?id_user=<%= id_user %>&id_post=${id_post}`);
            const body1 = result1.data;
            let number_like
            if (body1.msg === 'ok') {
                number_like = parseInt(old_number) - 1;
                let html = '';
                html += '<font>' + number_like + '</font>';
                document.getElementById("appendNumberLike" + id_post).innerHTML = html;
            }
            document.querySelector("#inputAppendNumberLike" + id_post).value = number_like;
        } catch (e) {
            console.error(e);
        }
    }
</script>

<!--chỉnh ảnh-->
<script>
    let file;
    // chỉnh sửa ảnh bìa
    document.querySelector("#coverImage").onchange = (evt) => {
        evt.stopPropagation();
        evt.preventDefault();

        const files = evt.target.files;
        file = files[0];
        console.log(file);

        const fileReader = new FileReader();
        fileReader.onload = function (progressEvent) {
            const url = fileReader.result;
            const myImg = document.getElementById("divEditCoverImage");
            myImg.src = url;
        }
        fileReader.readAsDataURL(file);

        document.getElementById("divBtnEditCoverImage").style.display = "block";
        document.getElementById("divBtnEditCoverImage1").style.display = "block";
    };
    const submitCoverImage = async () => {
        try {
            const image = document.querySelector("#coverImage");
            const formData = new FormData();
            formData.append("image1", image.files[0]);
            const result = await axios.post(`/editCoverImage?id_user=<%= id_user %>`, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            });
            const body = result.data;
            if (body.msg === 'insert cover image success') {
                window.open(`/user/pageProfile?id_user=<%= id_user %>`, `_self`);
            }
        } catch (e) {
            console.error(e);
        }
    }
    // **************************************************************************************************************
    //chỉnh ảnh đại diện
    document.querySelector("#inputUpAvatar").onchange = (evt) => {
        evt.stopPropagation();
        evt.preventDefault();

        const files = evt.target.files;
        file = files[0];
        console.log(file);

        const fileReader = new FileReader();
        fileReader.onload = function (progressEvent) {
            const url = fileReader.result;
            const myImg = document.getElementById("imgAvatar");
            myImg.src = url;
        }
        fileReader.readAsDataURL(file);
    };
    const submitAvatar = async () => {
        try {
            const image = document.querySelector("#inputUpAvatar");
            const formData = new FormData();
            formData.append("image1", image.files[0]);
            const result = await axios.post(`/editAvatar?id_user=<%= id_user %>`, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            });
            const body = result.data;
            if (body.msg === 'insert avatar success') {
                window.open(`/user/pageProfile?id_user=<%= id_user %>`, `_self`);
            }
        } catch (e) {
            console.error(e);
        }
    }
</script>

<!--kết bạn-->
<script>
    const btnAddFriend = async (id_using) => {
        try {
            const result = await axios.get(`/sendFriendInvitations?id_sender=<%= id_user %>&id_recipient=${id_using}`);
            const body = result.data;
            if (body.msg === 'ok') {
                window.open(`/user/pageProfile?id_user=<%= id_user %>&id_using=<%= id_using %>`, `_self`);
            }
        } catch (e) {
            console.error(e);
        }
    }
    const btnUnFriend = async (id_using) => {
        try {
            const result = await axios.get(`/deleteSendFriendInvitations?id_sender=<%= id_user %>&id_recipient=${id_using}`);
            const body = result.data;
            if (body.msg === 'ok') {
                window.open(`/user/pageProfile?id_user=<%= id_user %>&id_using=<%= id_using %>`, `_self`);
            }
        }catch (e) {
            console.error(e);
        }
    }
</script>
</body>
</html>